<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/jqGrid/i18n/grid.locale-hr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/NinjaSoftwareLib.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EnioNg.Entities.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DataAnnotations.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
